<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>POS System</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
    <script src="/public/js/pos.js"></script>
    <script src="/public/js/bootstrap.min.js></script>
</body>
</html>
