<div>
    <article id="items">
        {{#each items}}
            <div onclick="pushtorder({{this.name}})">
                <p>{{this.name}}</p>
            </div>
        {{/each}} 
    </article>
    <article id="order-log">
    </article>
</div>
