<div>
    <article id="parties">
        {{#each parties}}
            <button class="party btn btn-info">
                <p class="d-inline">Party ID:</p>
                <p class="id d-inline">{{this.partyId}}</p>
                <br/>
                <p class="d-inline">Party Table:</p>
                <p class="name d-inline">{{this.tableNumber}}</p>
            </button>
        {{/each}}
        <div>
            <p class="d-inline">Making order for party: </p>
            <p id="partyId" class="d-inline">New</p>
        </div>
    </article>
    <div class="row">
        <article id="items" class="col">
            {{#each items}} 
                <button class="item">
                    <p>Item ID:</p>
                    <p class="id">{{this.id}}</p>
                    <p class="name">{{this.name}}</p>
                </button>
            {{/each}} 
        </article>
        <article id="orderLog" class="col">
            <ul id="orderList">
            </ul>
        </article>
    </div>
    <button id="submitOrder">Submit</button>
</div>
