<div>
    <article id="items">
        {{#each items}}
            <button class="item">
                <p class="id">{{this.id}}</p>
                <p class="name">{{this.name}}</p>
            </button>
        {{/each}} 
    </article>
    <article id="order-log">
    </article>
</div>
