<div>
    <article id="parties">
        {{#each parties}}
            <button class="party">
                <p>Party ID:</p>
                <p class="id">{{this.partyId}}</p>
                <p>Party Table</p>
                <p class="name">{{this.tableNumber}}</p>
            </button>
        {{/each}}
        <div>
            <p>Making order for party: </p>
            <p id="partyId">New</p>
        </div>
    </article>
    <article id="items">
        {{#each items}}
            <button class="item">
                <p>Item ID:</p>
                <p class="id">{{this.id}}</p>
                <p class="name">{{this.name}}</p>
            </button>
        {{/each}} 
    </article>
    <article id="orderLog">
        <ul id="orderList">
        </ul>
    </article>
    <button id="submitOrder">Submit</button>
</div>
