<div>
    <article class="items">
        {{#each items}}
            <div>
                <p>{{name}}</p>
            </div>
        {{/each}} 
    </article>
    <article class="order-log">
    </article>
</div>
