<div>
    <article id="parties">
        {{#each parties}}
            <button class="party">
                <p class="id">Party ID: {{this.partyID}}</p>
                <p class="name">Party Table: {{this.tableNumber}}</p>
            </button>
        {{/each}}
    </article>
    <article id="items">
        {{#each items}}
            <button class="item">
                <p class="id">Item ID: {{this.id}}</p>
                <p class="name">{{this.name}}</p>
            </button>
        {{/each}} 
    </article>
    <article id="orderLog">
        <ul id="orderList">
        </ul>
    </article>
    <button id="submitOrder">Submit</button>
</div>
