html {
    background-color: #323031;
    height: 100%;
}

main {
    background-color: #323031
}

#partyOrders > .row {
    background-color: #3D3B3C;
}

.partyHeader {
    border: 1px black solid;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #C1BDB3;
}

.partyHeader > p{
    margin: 0px;
}

#orders {
    padding: 10px 0px;
    background-color: #7F7979;
}

#orders > .col > p {
    margin: 0px;
}

.deleteOrder {
    margin-top: 5px;
    color: #C1BDB3;
    background-color: #3D3B3C;
}

.deleteOrder:hover {
    background-color: #7F7979
}

#parties {
    background-color: #323031;
}

.party {
    background-color: #3D3B3C;
    border-color: #7F7979;
    color: #C1BDB3;
    margin: 5px;
    width: 15%;
    min-width: 150px;
}

.party:hover {
    background-color: #7F7979;
}

.party-info {
    padding: 5px 0px;
    font-size: calc(12px + .5vw);
    background-color: #3D3B3C;
    color: #C1BDB3;
}

.party-info > input {
    width: 50px;   
}

.party > p {
    font-size: calc(8px + .5vw);
}

#items {
    background-color: #575556;
    padding-right: 0px;
    margin: 5px;
}

.item {
    background-color: #3D3B3C;
    border-color: #7F7979;
    color: #C1BDB3;
    margin: 5px;
}

.item:hover {
    background-color: #7F7979;
}


.order {
    overflow: hidden;
    background-color: #575556;
}

#orderLog {
    background-color: #575556;
    padding-left: 0px;
    margin: 5px 5px;
}

.title {
    background-color: #C1BDB3; 
    border: 1px black solid;
    margin-bottom: 0px;
    padding-left: 5px;
}

#orderList {
    background-color: white;
    list-style-type: none;
    padding-left: 5px;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    visibility: hidden;
    margin-bottom: 0px;
}

#error-box {
    display: none;
    padding: 5px 0px;
    margin: 0px 5px;
    text-align: center;
    color: white;
    background-color: red;
}

#submitOrder {
    margin: 5px;
}
