<div class="row">
  <div class="col-sm-12">
    <div id="login-form" action="/login" method="post">
      <div>

        <label for="username">Username:</label>
        <input type="text" id="usernameField" name="username" value="{{username}}">

        <label for="password">Password:</label>
        <input type="password" id="passwordField" name="password" value="{{password}}">

      </div>

      <div class="error">
        {{ message }}
      </div>

      <button id="loginButton" type="submit">Log In</button>

    </form>
  </div>
</div>